<div class="container">
  <div class="row" id="book-basics-row">

    <div class="col-sm-10 col-sm-offset-1" id="book-title">
      <h1 id="big-1"><%= @book.title %></h1>
    </div>

    <div class="col-sm-6 col-sm-offset-1" id="book-basics">
      <br>
      <div id="book-rating">  <!--inside of book-basics div -->
        <p>My Rating for this book: </p>
          <% if @book.rating == nil %>
            <i><h3>Not yet rated</h3></i>
          <% else %>
        <h1>
          <% star = "★" %>
          <%= star * @book.rating%> 
          <%end%>
        </h1>
      </div> <!-- close book-rating -->
    <br>
    <p>Author: </p>
    <h3><%= @book.author %> </h3>

    <p>Genre: </p>
    <h3><%= @book.genre.capitalize %></h3>

    <p>Format: </p> 
    <h3><%= @book.format.capitalize %></h3>

    <p>Release date: </p>
    <h3><%= @book.release_year %></h3>

      <div id= "book-availability">
        <p>Book is in my permanent library? </p>

         <% if @book.in_library != true %>
          <h3>No</h3>
         <% else %>
          <h3><%= @book.in_library %></h3>
        <% end %>

        <p>Book has been lent to: </p>
        <h3><%= @book.lent_to %></h3>

      </div>  <!-- close book-avail -->
    </div> <!-- end book-basics COL -->

<div class="col-sm-4" id="pic-box">
<br>
<img src="<%= @book.picture_url %>" id="book-pic" class="img-responsive"/>

<!-- <a href="books/<%= @book.id %>/edit" class="btn btn-sm btn-warning" role="button"><b>Edit Book Info</b></a>&nbsp;

<a href="books/<%= @book.id %>/delete" class="btn btn-sm btn-danger" role="button"><b>Delete</b></a> -->

</div> <!-- end pic-box COL -->


<div class="col-sm-10 col-sm-offset-1" id= "book-summary">
<div class="well well-lg">
<h3><b>Summary: </b></h3>
<br>
<blockquote>
<p>
<%= @book.summary %>
</p>
<footer>Courtesy of Amazon</footer>
</blockquote>
</div>  <!--end of well -->
</div>  <!--end of book-summary -->
</div> <!-- end book-basics ROW -->
</div> <!-- end of container -->
